<!DOCTYPE html>
<html>
  <head>
    <h1>
    <%= title %>
  </h1>
  <h2>Listagem</h2>
  <h3>Listagem de Usuários</h3>
  <ul>
    <% for(let i = 0; i < resultUsuario.length; i++){ %>
        <li>
          Usuário <%= i+1 %>: <%= resultUsuario[i].primeiroNome %> <%= resultUsuario[i].sobrenome %>, <%= resultUsuario[i]._id %>
        </li>
    <% } %>
  </ul>

  <h3>Listagem de Alunos</h3>
  <ul>
    <% for(let i = 0; i < resultAluno.length; i++){ %>
        <li>
          Aluno <%= i+1 %>: <%= resultAluno[i].matricula %>, <%= resultAluno[i]._id %>
        </li>
    <% } %>
  </ul>

  <h3>Listagem de Planos</h3>
  <ul>
    <% for(let i = 0; i < resultPlano.length; i++){ %>
        <li>
          Plano <%= i+1 %>: <%= resultPlano[i].nome %>, <%= resultPlano[i].valor %>, <%= resultPlano[i]._id %>
        </li>
    <% } %>
  </ul>

  <h3>Listagem de Assinaturas</h3>
  <ul>
    <% for(let i = 0; i < resultAssinatura.length; i++){ %>
        <li>
          Assinatura <%= i+1 %>: <%= resultAssinatura[i].status %>, <%= resultAssinatura[i]._id %>
        </li>
    <% } %>
  </ul>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Inserção</h2>
    <h3>Inserir Usuário:</h3>
    <form action="/save_usuario" method="POST"> 
    <p>
      <label>primeiroNome:
        <input type="text" name="primeiroNome" />
      </label>
    </p>
    <p>
      <label>sobrenome:
        <input type="text" name="sobrenome" />
      </label>
    </p>
    <p>
      <label>cpf:
        <input type="text" name="cpf" />
      </label>
    </p>
    <p>
      <label>dataNascimento:
        <input type="date" name="dataNascimento" />
      </label>
    </p>
    <p>
      <label>email:
        <input type="text" name="email" />
      </label>
    </p>
    <p>
      <p>
        <label>telefone:
          <input type="text" name="telefone" />
        </label>
      </p>
      <p>
      <label>senha:
        <input type="text" name="senha" />
      </label>
    </p>
    <p>
      <label>tipo:
        <input type="text" name="tipo" />
      </label>
    </p>
    <p>
      <input type="submit" value="salvar" />
    </p>
  </form>

  <form action="/save_aluno" method="POST">
    <h3>inserir aluno:</h3>
    <p>
      <label>id do usuario:
        <input type="text" name="usuarioId" />
      </label>
    </p>
    <p>
      <label>matricula:
        <input type="text" name="matricula" />
      </label>
    </p>
    <p>
      <label>id do plano:
        <input type="text" name="planoId" />
      </label>
    </p>
    <p>
      <label>status da assinatura:
        <input type="text" name="statusAssinatura" />
      </label>
    </p>
    <p>
      <input type="submit" value="salvar" />
    </p>
  </form>

  <form action="/save_plano" method="POST">
    <h3>inserir plano:</h3>
    <p>
      <label>nome:
        <input type="text" name="nome" />
      </label>
    </p>
    <p>
      <label>duracao:
        <input type="number" name="duracao" />
      </label>
    </p>
    <p>
      <label>status:
        <input type="bool" name="status" />
      </label>
    </p>
    <p>
      <label>valor:
        <input type="number" step="0.01" name="valor" />
      </label>
    </p>
    <p>
      <input type="submit" value="salvar" />
    </p>
  </form>

  <form action="/save_assinatura" method="POST">
    <h3>inserir assinatura:</h3>
    <p>
      <label>id do aluno:
        <input type="text" name="alunoId" />
      </label>
    </p>
    <p>
      <label>id do plano:
        <input type="text" name="planoId" />
      </label>
    </p>
    <p>
      <label>status:
        <input type="text" name="status" />
      </label>
    </p>
    <p>
      <input type="submit" value="salvar" />
    </p>
  </form>

  <h2>Remoção</h2>
  <h3>Deletar Usuário</h3>
  <form action="delete_usuario" method="POST">
  <p>
    <label>id:
      <input type="text" name="idUsuario">
    </label>
  </p>
  <p>
    <input type="submit" value="excluir">
  </p>
</form>

<h3>Deletar Aluno</h3>
<form action="delete_aluno" method="POST">
<p>
  <label>id:
    <input type="text" name="idAluno">
  </label>
</p>
<p>
  <input type="submit" value="excluir">
</p>
</form>

<h3>Deletar Plano</h3>
<form action="delete_plano" method="POST">
<p>
  <label>id:
    <input type="text" name="idPlano">
  </label>
</p>
<p>
  <input type="submit" value="excluir">
</p>
</form>

<h3>Deletar Assinatura</h3>
<form action="delete_assinatura" method="POST">
<p>
  <label>id:
    <input type="text" name="idAssinatura">
  </label>
</p>
<p>
  <input type="submit" value="excluir">
</p>
</form>

<h2>Edição</h2>
<h3>Editar Usuário</h3>
<form action="update_usuario" method="POST">
<p>
  <label>id:
    <input type="text" name="idUsuario">
  </label>
  </p>
  <p>
  <label>sobrenome:
    <input type="text" name="sobrenome">
  </label>
</p>
<p>
  <input type="submit" value="confirmar">
</p>
</form>

<h3>Editar Plano</h3>
<form action="update_plano" method="POST">
<p>
  <label>id:
    <input type="text" name="idPlano">
  </label>
  </p>
  <p>
  <label>valor:
    <input type="number" step="0.01" name="valor">
  </label>
</p>
<p>
  <input type="submit" value="confirmar">
</p>
</form>

<h3>Editar Assinatura</h3>
<form action="update_assinatura" method="POST">
<p>
  <label>id:
    <input type="text" name="idAssinatura">
  </label>
  </p>
  <p>
  <label>status:
    <input type="text" name="status">
  </label>
</p>
<p>
  <input type="submit" value="confirmar">
</p>
</form>
  </body>
</html>
